/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el carrito */
#carrito {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#carrito h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#lista-carrito button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#lista-carrito button:hover {
    background-color: #ff3a0d;
}

#total {
    font-size: 18px;
    font-weight: bold;
}

/* Estilos para la lista de productos */
#lista-productos {
    list-style: none;
    padding: 0;
}

#lista-productos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#lista-productos button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#lista-productos button:hover {
    background-color: #45a049;
}
